<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        /* width: 100%; */
        flex-direction: column;
      }
      .content {
        display: flex;
      }
     

      table {
        border-collapse: collapse;
        width: 100%;
      }
      th,
      td {
        width: 18rem;
      }
      table,
      th,
      td {
        padding: 15px;
        text-align: left;
        border: 1px solid black;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <%if (!response.success) { %>
      <div id="errorCntr">
        <ul id="erUl" class="errors">
        Fail to fetch from API
              </ul>
        <!-- <p><%= response.msg %></p> -->
      </div>
      <% } %> <%if (response.success) { %>
      <div id="sentCrl">
        <ul id="erUl" class="errors">
          <%= response.resp %>
        </ul>
        <!-- <p><%= response.msg %></p> -->
      </div>
      <% } %>

      <div>
        <table>
          <tr>
            <th>Name</th>
            <th>Key</th>
            <th>Point</th>
          </tr>
          <% for(var i=0; i < response.votes.length; i++) { %>
          <tr>
            <td><%= response.votes[i].choiceTitle %></td>
            <td><%= response.votes[i].key %></td>
            <td><%= response.votes[i].count %></td>
          </tr>
          <% } %>
        </table>
      </div>
    </div>
  </body>
</html>
